header{
	background-image: linear-gradient(var(--bg-color), var(--bg-color-2));
	border: 2px solid var(--bg-color-3);
	border-radius: 40px;

	position: fixed;
	top:    10px;
	bottom: 10px;
	left:   var(--header-horizontal-margin);
	
	width: var(--header-width);
}

header h1{
	margin: 20px 0px;
	text-align: center;
}
@media only screen and (max-width:900px) {
	header h1 {
		font-size: large;
	}
}
header li{	
	/* ocultar el puntito */
	list-style-type: none;
	padding: 10px 15px;
}
header a{
	color: var(--txt-color);
	text-decoration: none;

	transition: var(--header-buttons-transition);
}
header li:hover {
	background-color: var(--button-hover-color);
}

#loadMore {
	margin-bottom: 50vh;
}