.sectionTitle {
	/* text-align: center; */
	padding: 10px;
	padding-top: 25px;
}

.notificationFriendRequest{

	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	height: var(--notificacion-height);
	
	display: flex;
	justify-content: space-between;
	
	overflow-x: hidden;

	/* debug */
	background-color: var(--bg-color-4);
	border-radius: .5em;
}

.notificationFriendRequest a{
	display: flex;
	flex-direction: row;
}
.notificationFriendRequest a p{
	margin-top: 15px;
	color: var(--txt-color);
	text-decoration: none;
}
.notificationFriendRequest img{
	width:  calc(var(--notificacion-height) - 20px);
	height: calc(var(--notificacion-height) - 20px);
	margin-right: 15px;

	border-radius: 50px;
}

.linkButton{
	margin-top: 10px;
	display: block;
	height: fit-content;
}

