:root{
	--txt-color: #fff;
	--txt-clickable-color: #000;
	--bg-color: #336;
	--bg-color-2: #669;
	--bg-color-3: #99c;
	--bg-color-4: #225;
	--button-hover-color: #fff3;

	--header-buttons-transition: 0.2s;

	--body-border-color: #fff;

	--header-horizontal-margin: 10px;
	--header-width: 25%;

	--thread-right-margin: 150px;
	
	--notificacion-height: 70px;
}

/* media querry que cambie el ancho de la cabecera a 150px */
@media only screen and (max-width: 900px){
	:root{
		--thread-right-margin: 0;
	}
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: var(--bg-color);
	color: var(--txt-color);
	padding: 10px;
}

/* <a> */
.linkButton{
	padding: 5px;
	border: 1px solid black;
	border-radius: 50px;
	background-color: var(--bg-color-2);
	cursor: pointer;
}
.linkButton:hover{
	background-color: var(--bg-color-3);
}

/* messages like "No comments yet, be the first" or "This post does not exist" */
.emptyErrorMessage{
	text-align: center;
	margin: 5px;
}