:root{
	--txt-color: #fff;
	--bg-color: #336;
	--bg-color-2: #669;
	--button-hover-color: #fff3;

	--header-buttons-transition: 0.2s;

	--body-border-color: #fff;

	--header-horizontal-margin: 10px;
	--header-width: 25%;

	--thread-right-margin: 150px;
}

/* media querry que cambie el ancho de la cabecera a 150px */
@media (max-width: 800px){
	:root{
		--header-width: 150px;
	}
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: var(--bg-color);
	color: var(--txt-color);
}
