#profileHeader{
	height: fit-content;
	padding: 10px;
	margin-bottom: 20px;
	
	border: 2px solid var(--bg-color-3);
	border-radius: .5em;
	overflow-x: hidden;

	/* debug */
	/* background-color: #898; */
}

#profileHeader img{
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	margin-right: 25px;

	border-radius: 50px;
	border: 2px solid var(--bg-color-3);
}

.linkButton{
	float: right;
	color: var(--txt-color);
	text-decoration: none;
	padding: 5px 10px;
	margin-top: 10px;
}
.linkButton:hover {
	color: var(--txt-clickable-color);
}
#profileHeader #sig {
	margin-left: 50px;
}
#profileHeader #bio {
	text-wrap: balance;
}
#delAcc {
	border: 2px solid var(--bg-color-3);
	border-radius: .5em;
	height: 150px;
	padding: 10px;
}
#delAcc h2 {
	display: flex;
	justify-self: center;
	margin: 10px 0;
}
@media only screen and (max-width:700px) {
	#profileHeader p span{
		display: block;
	}
}
@media only screen and (max-width:500px) {
	#delAcc {
		height: 175px;
	}
}