#profileHeader{
	min-height: 150px;
	padding: 10px;
	
	border-bottom: 1px solid;
	overflow-x: hidden;

	/* debug */
	/* background-color: #898; */
}

#profileHeader img{
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	margin-right: 25px;

	border-radius: 50px;
	border: 2px solid;
}

#profileHeader .linkButton{
	float: right;
	color: var(--txt-color);
}