<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/form.css')}}"> 
		{# <link rel="stylesheet" href="{{asset('css/admin.css')}}">  #}
		<title>Zona de Admin</title>
	</head>
	{% include "header.html.twig" %}
	<body>
    	<form>
		<table>
			<tr>
				<td>
					<a href="{{path('admin_users')}}">Ver Lista Usuarios</a>
				</td>
			</tr>
			{# <tr>
				<td>
					<a href="{{path('admin_posts')}}">Ver Lista Posts</a>
				</td>
			</tr> #}
		</table>
		</form>
		
	</body>
</html>
