{# templates/login.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/thread.css')}}">
        <title>Feed</title>
    </head>
	{% include "header.html.twig" %}
    <body>
		<button id="loadMore"></button>
    </body>
</html>
