<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/thread.css')}}">
		{# TODO: meterle CSS #}
        <title>Nuevo Post</title>
    </head>
	{% include "header.html.twig" %}
    <body>
		<div class="post">
		
			{% if error != "" %}
				<p>{{error}}</p>
			{% endif %}

			<h2>¿Que hay de nuevo?</h2>
			<form action="{{ path('new_post') }}" method="post" enctype="multipart/form-data">

				<label for="postPhoto">Foto</label>
				<input type="file" name="postPhoto" id="postPhoto" required>
				<br>

				<input type="submit" value="Subir Foto">
			</form>

		</div>
    </body>
</html>
