<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/form.css')}}">
        <title>Email</title>
    </head>
    <body>
		<div class="contenidoCentral">
			<p>Cuenta verificada correctamente</p>
			<a href="{{ path('ctrl_login') }}">Pincha aquí para iniciar sesión</a>
		</div>
    </body>
</html>
