<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/form.css')}}">
        <title>Email</title>
    </head>
    <body>
		<p>Cuenta verificada correctamente</p>
		<a href="{{ path('ctrl_login') }}"></a>
    </body>
</html>
