<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/form.css')}}">
        <title>Email</title>
    </head>
    <body>
<<<<<<< HEAD
<<<<<<< HEAD
		<div class="contenidoCentral">
			<p>Cuenta verificada correctamente</p>
			<a href="{{ path('ctrl_login') }}">vuelve aqui para iniciar sesion</a>
		</div>
=======
		<p>Cuenta verificada correctamente</p>
		<a href="{{ path('ctrl_login') }}"></a>
>>>>>>> ce78572 (feat: Ativación de cuenta através de email, hecho)
=======
		<p>Cuenta verificada correctamente</p>
		<a href="{{ path('ctrl_login') }}"></a>
>>>>>>> ce78572 (feat: Ativación de cuenta através de email, hecho)
    </body>
</html>
