<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/form.css')}}">
        <title>Log In</title>
    </head>
    <body>	
    	<form action="{{ path('ctrl_login') }}" method="post">
		<table>
			<tr>
				<td>Usuario</td>
				<td><input type="text" id="username" name="_username" /></td>
			</tr>
			<tr>
				<td>Contraseña</td>
				<td><input type="password" id="password" name="_password" /></td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Iniciar sesión</button></td>
			</tr>
			<tr>
				<td> <a href="{{ path('load_signin') }}">Crear una cuenta</a> </td>
				<td> <a href="{{ path('load_recovery') }}">Recuperar Contraseña</a> </td>
			</tr>
		</table>
		</form>
    </body>
</html>
