{# templates/security/logout.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{% include "content.html.twig" %}
		{# lo añado aunque se supone que no se ve esta pagina #}
		<link rel="stylesheet" href="{{asset('css/form.css')}}">
		<title>Log out</title>
	</head>
	<body>
		Ha cerrado su sesión con éxito.
		<a href = {{ url('login') }}>Login</a>
	</body>
</html>
