{# templates/security/logout.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{% include "content.html.twig" %}
		{# lo añado aunque se supone que no se ve esta pagina #}
		<link rel="stylesheet" href="{{asset('css/form.css')}}">
		<title>Recuperacion de cuenta</title>
	</head>
	<body>
    	<form action="{{ path('ctrl_login') }}" method="post">
		<table>
			<tr>
				<td>Usuario</td>
				<td><input type="text" id="username" name="_username" /></td>
			</tr>
			<tr>
				<td>Nombre</td>
				<td><input type="password" id="password" name="_password" /></td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Recuperar</button></td>
			</tr>
		</table>
		</form>
	</body>
</html>
