<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		{% include "content.html.twig" %}
		{# lo a単ado aunque se supone que no se ve esta pagina #}
		<link rel="stylesheet" href="{{asset('css/form.css')}}">
		<title>Recuperacion de cuenta</title>
	</head>
	<body>
		<h1>
		Formulario para poner una nueva contrase単a
		</h1>
		<form action="{{path('reset_password_post', {'token' : token }) }}" method="post">
			<input type="text" name="email" placeholder="Email">
			<input type="password" name="password1" placeholder="Contrase単a">
			<input type="password" name="password2" placeholder="Repite la contrase単a">
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>
