<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/form.css')}}">
        <title>Sing In</title>
    </head>
    <body>
	<script src="{{asset('js/form.js')}}"></script>
    	<form action="{{ path('ctrl_signin')}}" method="post">
		<table>
			<tr>
				<td>Usuario</td>
				<td><input type="text" id="user" name="_user" /></td>
			</tr>
			<tr>
				<td>Nombre</td>
				<td><input type="text" id="username" name="_username" /></td>
			</tr>
			<tr>
				<td>Apellidos</td>
				<td><input type="text" id="surname" name="_surname" /></td>
			</tr>
			<tr>
				<td>Correo electrónico</td>
				<td><input type="text" id="email" name="_email" /></td>
			</tr>
			<tr>
				<td>Fecha de nacimiento</td>
				<td><input type="date" id="bDate" name="_bDate" /></td>
			</tr>
			<tr>
				<td>Número de teléfono</td>
				<td><input type="text" id="phone" name="_phone" /></td>
			</tr>
			<tr>
				<td>Contraseña</td>
				<td><input type="password" id="password" name="_password" /></td>
			</tr>
			<tr>
				<td>Repite la contraseña</td>
				<td><input type="password" id="password2" name="_password2" /></td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Crear cuenta</button></td>
			</tr>
		</table>
		</form>
    </body>
</html>
