<header>
	<link rel="stylesheet" href="{{asset('css/header.css')}}">

	<h1>Cabecera</h1>
	
	<ul>
		<li><a href="{{ path('feed') }}">Home</a></li>
		<li><a href="{{ path('redirect_profile') }}">Profile</a></li>
	</ul>

</header>