{# templates/login.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		{% include "content.html.twig" %}
		<link rel="stylesheet" href="{{asset('css/form.css')}}">
        <title>LogIn</title>
    </head>
    <body>	
    	{# <form action="{{ path('ctrl_login') }}" method="post"> #}
    	<form method="post">
			Usuario
			<input type="text" id="username" name="_username" /> <br>
			Clave
			<input type="password" id="password" name="_password" /> <br>
			<button type="submit">login</button>
		</form>
    </body>
</html>
